config-notification {
    disable-failed
}

output "eDP-1" {
    mode "1920x1080@60"
    position x=0 y=0
}

gestures {
    hot-corners {
        top-left
        top-right
    }
}

input {
    keyboard {
        xkb {
            layout "us"
            variant "altgr-intl"
            options "compose:menu,level3:ralt_switch"
        }
        repeat-delay 600
        repeat-rate 25
        numlock
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {}
    focus-follows-mouse
    workspace-auto-back-and-forth
}

layout {
    gaps 9
    // empty-workspace-above-first
    background-color "transparent"
    center-focused-column "on-overflow"
    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
        proportion 1.0
    }
    preset-window-heights { 
        proportion 1.0
        proportion 0.5
    }
    default-column-width { proportion 0.75; }
    border {
        off
        width 0
        active-color   "#707070"      // Neutral gray
        inactive-color "#d0d0d0"      // Light gray
        urgent-color   "#cc4444"      // Softer red
    }
    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    insert-hint {
        on
        color "#ffc87f80"
    }
    focus-ring {
        on
        width 3
        active-color "#7fc8ff"
        inactive-color "#505050"
        urgent-color "#9b0000"
    }
    tab-indicator {
        width 7
        gap 7
        length total-proportion=0.7
        place-within-column
    }
    struts {
    }
}

workspace "work"
workspace "home"
workspace "extra"
workspace "scratch"

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

overview {
    workspace-shadow {
        off
    }
}

environment {
    XDG_CURRENT_DESKTOP "niri"
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
    TERMINAL "kitty"
    GDK_BACKEND "wayland,x11,*"
    GAMEMODERUNEXEC "env __NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia __VK_LAYER_NV_optimus=NVIDIA_only"
}

spawn-at-startup "sudo" "setkeycodes" "e057" "240" "e058" "240"
hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
    workspace-switch {
        spring damping-ratio=0.80 stiffness=523 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
        spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}
window-rule {
    match app-id=r#"nvim-wl-anywhere"#
    open-floating true
    default-column-width { fixed 1280; }
    default-window-height { fixed 700; }
}
window-rule {
    match app-id=r#"scratch"#
    open-floating true
    default-column-width { fixed 1280; }
    default-window-height { fixed 700; }
    default-floating-position x=9 y=9 relative-to="bottom"
}
window-rule {
    match app-id=r#"update"#
    open-floating true
    default-column-width { fixed 1280; }
    default-window-height { fixed 700; }
    default-floating-position x=9 y=9 relative-to="top"
}
window-rule {
    match title=r#"Peek Preview"#
    open-focused false
}
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
    tiled-state true
    draw-border-with-background false
}
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 12
    clip-to-geometry true
}
window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^pavucontrol$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}
window-rule {
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^steam$"#
    match app-id=r#"^xdg-desktop-portal$"#
    open-floating true
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}
// Open dms windows as floating by default
window-rule {
    match app-id=r#"org.quickshell$"#
    open-floating true
}
debug {
    honor-xdg-activation-with-invalid-serial
    // render-drm-device "/dev/dri/renderD128"
}

// Override to disable super+tab
window-rule {
    match app-id=r#"whatsappweb-nativefier-d40211|telegram"#
    default-column-display "tabbed"
    open-on-workspace "scratch"
    block-out-from "screencast"
    open-floating true
    open-focused false
    default-column-width { fixed 1600; }
    default-window-height { fixed 960; }

}

// Block out mako notifications from screencasts.
layer-rule {
    match namespace="^dms.*"
    block-out-from "screencast"
}

window-rule {
    match app-id=r#"steam"#
    open-on-workspace "steam"
}

window-rule {
    match app-id=r#"YouTube Music for Desktop"#
    open-on-workspace "yt-music"
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

// Include dms files
include "dms/colors.kdl"
include "dms/binds.kdl"
include "dms/cursor.kdl"
include "dms/recentwindows.kdl"
include "dms/wpblur.kdl"
